body{
    background-color: #292929;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}
.seat{
    background-color: #444451;
    height: 15px;
    width: 15px;
    margin: 3px;
    border: 2px solid red;
}
.seat.selected{
    background-color: white;
}
.seat.reserved{
    background-color:green;
}
.seat:not(.reserved):hover{
    cursor: pointer;
    transform:scale(1.3);
}
.seat:nth-of-type(2){
    margin-right: 20px;
}
.seat:nth-last-of-type(3){
    margin-right: 20px;
}
.row{
    display: flex;
}
.screen{
    background-color:#dfc7c7;
    height:50px;
    width: 100%;
    align-items: center;
    margin: 20px 0;
    box-shadow: 0 3px 8px rgba(255,255,255,0.9);
}
.movie-list{
    margin: 20px 0;
}
.info{
    background-color:rgba(0,0,0,0.2);
    padding:5px 10px;
    color:yellow;
    display:flex;
}
.info li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 10px;
}
p.text span{
    color:orangered;
}